/* Form */
form {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    font-size: 1em;
    line-height: 1.5em;
    text-decoration: none;
    border-radius: 0%;
    padding: 3em;
    padding-top: 1.5em;
    /* border: 1px solid #DDD; */
    border: inset 1px solid #DDD; 
}

.form_label {
    display: block;
}

input[type="text"] {
    width: 95%;
    margin: auto;
    padding: 0.6rem;
    border: 1px solid black;
    font-size: 16px;
    
}
input[type="email"] {
    width: 95%;
    margin: auto;
    padding: 0.6rem;
    border: 1px solid black;
    font-size: 16px;
    
}
textarea[name="user_message"]{
    width: 95%;
    margin: auto;
    padding: 0.6rem;
    border: 1px solid black;
    font-size: 16px;  
}

input[type="submit"]{
    margin-top: 1em;
    display: block;
    width: auto;
    padding: 0.7em 1em; 
    background-color: darkorchid;
    border: 0;
    color: #FFFFFF; 
    text-transform: uppercase;
    font-family: 'Mina', sans-serif;
    font-size: 1em;
}

/* Blog */
html {
    box-sizing: border-box;
}
body {
    background-color: lightblue;
    font-size: 1em;
}
div {
    font-family: 'Courier New', Courier, monospace;
    background-color: orchid;
}
h1 {
    font-family: 'Raleway', sans-serif;
    border-color: blueviolet;
    color:darkmagenta; 
}
h2 {
    color:indigo;
}
p {
    border:darksalmon;
    color:darkmagenta;
}
#header { 
    margin-top: 2em;
    letter-spacing: .2em;
    text-align: center;
}

#content{
    margin-top: 1em;
    font-family:sans-serif;  
}
#footer {
    margin-top: 1em;
    font-size: 0.7em;
    text-align: center;   
}
.highlight {
    font-weight:bold;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
#navbar{
    text-decoration-color: darkcyan;
    /* text-align:center; */
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100vw;
}
#navbar > ul > li {
    position: relative;
    display: inline;
    list-style: none;
}
#navbar .dropdown {
    position: absolute;
    top: 1em;
    right: 0;
    display: none;
}
#navbar a:hover + .dropdown {
    display: block;
}
#navbar > ul.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }


/* Landing Page */
body {
    background-color:lightblue
}
h1 {
  font-family: verdana;
}
a {
  color: rgb(87, 124, 180);
}
i {
  font-size: 300%;
}
#primary {
    text-align: center;
    font-family: 'Times New Roman';
}
.important {
    color: palevioletred;
}
.big {
    font-size: 150%;
}



